h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cadastre-se{
  top: 280px;
  right: 0px;
  position: absolute;
}

.cadastre-se h1{
  width: max-content;
  font-size: 20px;
}

.cadastre-se Link{
  color: #F5CA4B;
}


/* .btn-signup {
  background-color: #B6F3A0;
  color: #607447;
  font-size: 17px;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
  transition: 0.5;
}

.forgot-password {
  margin-top: 25px;
  font-size: 17px;
  cursor: pointer;
  color: #8B8D30;
}

a{
    text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #858585;
  margin-top: 20px; 
}

@media screen and (max-width: 768px) {
.container {
    width: 80%;
    height: auto;
}
} */