/* PostContainer.css */

.PostContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  height: auto;
  max-height: 650px;
  width: 605px;
  background-color: #fff;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.PostHeader {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
}

.PostHeader h1 {
  margin-left: 15px;
}

.post-icones {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  color: #575757;
  font-size: 30px;
}

.comment {
  margin-left: 8px;
  cursor: pointer;
  margin-top: 2px;
}

.likes-text {
  margin-left: 20px;
  margin-bottom: 5px;
  color: #534A4A;
}

.post-text {
  margin-left: 20px;
  display: flex;
}

.post-text h1 {
  margin-right: 10px;
}

.show-comments {
  text-align: right;
  margin-right: 10px;
  color: #534A4A;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 20px;
}

.comments-section {
  margin-left: 20px;
  margin-top: 10px;
}

.comments-section .comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comments-section .comment .comment-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.comments-section .comment h2 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.comments-section .comment p {
  margin: 2px 0 0 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .PostContainer {
    margin-right: 0;
  }
}
