.BackgroudImage{
  background-image: url('../../assets/login.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media screen and (max-width:425px) {
  .BackgroudImage{
    background-position:calc(100% - 20px + 496px);
  }
}
@media screen and (max-width:375px) {
  .BackgroudImage{
    background-position:calc(100% - 20px + 516px);
  }
}
@media screen and (max-width:320px) {
  .BackgroudImage{
    background-position:calc(100% - 20px + 544px);
  }
}