.navbar-container {
  justify-content: center; /* Alinha os itens ao centro horizontalmente */
  align-items: center;
  text-align: center;
  width: 170px;
  height: 90%;
  background-color: #fff;
  color: black;
  box-sizing: border-box;
  border: 1px black;
  border-radius: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3)
}
.logo{
  width: 95px;
  height: 95px;
  margin: 0 auto;
}

.navbar-components {
  color: #575757;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
} 
.icones{
  color: #575757;
  font-size: 32px;
  width: 100%;
}

.border-radius{
  border-radius: 24px;
}