.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
}

.main-column{
    flex: 2; 
    box-sizing: border-box; 
    margin: 0;
}

.postContainerFeed{
    height: calc(100vh - 90px);
    overflow: auto;
    margin-top: 20px;
}



.column {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    flex: 1; 
    box-sizing: border-box; /* Faz com que o padding não aumente o tamanho total da coluna */
    margin: 0;
}

.column-dir{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.column-dir img{
    margin-top: 70px;
    width: 187px;
    height: 226px;
}
