.feedBackgroundColor{
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;
}

.textin{
    width: 100%;
}

.postContainerFeed{
    height: calc(100vh - 90px);
    overflow:auto;
    margin-top: 20px;
}

.image-icone{
    cursor: pointer;
    display: flex;
    font-size: 25px;
}

.column-dir img{
    margin-top: 70px;
    width: 187px;
    height: 226px;
}
