.container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    width: fit-content;
    justify-content: space-around;
}

.main-column{
    flex: 2; 
    box-sizing: border-box; 
    margin: 0;
}

.column {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    flex: 1; 
    box-sizing: border-box; /* Faz com que o padding não aumente o tamanho total da coluna */
    margin: 0;
}

.column-dir{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.column-dir img{
    margin-top: 70px;
    width: 187px;
    height: 226px;
}
